<div class='wrapper'>
    <div class='board-container'>
        <button class='btn left-up'>left-up</button>
        <button class='btn right-up'>right-up</button>
        <button class='btn right-down'>right-down</button>
        <button class='btn left-down'>left-down</button>
        <div class='center-container'>
            <h1>Simon</h1>
            <div class='display'>
                {{currentState}}
            </div>
            <button class='start'>start</button>
            <button class='strict'>strict</button>
            <input type="checkbox" value='switcher'>
        </div>
    </div>

</div>