/* You can add global styles to this file, and also import other style files */

@import 'forkongithub';
@import 'spinner';
$bgBodyColor: #d3d3d3;
$anchorColor: #17840b;
html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color: $bgBodyColor;
    background: radial-gradient(rgb(221, 221, 159), #3badda);
    color: #333;
    width: 100%;
}

a,
a:focus,
a:hover {
    color: $anchorColor;
    text-decoration: none;
    font-weight: 600;
}

.flex-container {
    min-height: 510px;
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    p {
        font-weight: 600;
    }
    .flex-header {
        margin-top: auto;
        color: white;
    }
    .flex-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-footer {
        margin-top: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
            vertical-align: middle;
        }
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-dice {
    font-size: 20px;
    margin-bottom: -5px;
}


/* Spinner styles */

.pokeball {
    width: 150px;
    height: 150px;
    position: absolute;
    display: inline-block;
    animation: rotate 1.5s linear infinite;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
}

.pokeball .inner {
    width: 150px;
    height: 75px;
    border: 48px solid #e53935;
    box-sizing: border-box;
}

.pokeball .upper,
.pokeball .lower {
    width: 100%;
    position: absolute;
    height: calc(50% - 5px);
    overflow: hidden;
}

.pokeball .upper {
    top: 0;
}

.pokeball .upper .inner {
    border-radius: 123px 123px 0 0;
    border-bottom: 0;
    margin-bottom: -5px;
}

.pokeball .lower {
    bottom: 0;
}

.pokeball .lower .inner {
    margin-top: -5px;
    border-radius: 0 0 123px 123px;
    border-top: 0;
}

.pokeball .middle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #e53935;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/* End Spinner styles */